* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 20px;
    overflow: hidden;
}

.navbar {
    width: 100%;
    margin-top : 40px;
}

.home-btn{
    background-color: rgb(37, 36, 36);
    height: 40px;
    width: 40px;
    border-radius: 2rem;
    border: solid transparent;
}

.navbar-left{
    justify-content: space-around;
    gap: 20px;
}

#home{
    width: 1em;
    height: 1em;
}

.left {
    height: 90vh;
    width: 25%;
    /* border: 2px solid red; */
    margin: 10px;
    padding: 1rem;
    font-size: large;
}

.left .top {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;;
}

.createbtn{
    box-sizing: border-box;
    border: solid transparent;
    width: 20% 40%;
    justify-content: center;
    cursor: pointer;
    padding: 0px 16px;
    gap: 8px;
    color: white;
    background-color: #1f1f1f;
    border-radius: 2rem;
    font-size: medium;
    font-weight: bolder;
    overflow: hidden;
}

.createbtn img{
    width: 1em;
    height: 1em;
}

/* .playlist-container{
    overflow-y: scroll;
} */

.box{
    border: solid transparent;
    background-color: rgb(37, 36, 36);
    margin: 12px 0px;
    padding:1rem;
    border-radius: 0.5rem;
}

.mainText{
    font-size:0.8rem;
    font-weight: bolder;
}

.secondLine{
    font-size:0.7rem;
    font-weight: bolder;
}

.btn{
    background-color: white;
    color:black;
    font-weight: bolder;
    padding: 10px 18px;
    border-radius: 2rem;
}

#list{
    list-style-type: none;
    font-size:0.7rem;
    display: flex;
    flex-wrap:wrap;
    gap: 12px 14px;   
    max-width: 90%;
    justify-content: left;
    padding-left: 10px;
    white-space: normal;
}

.language-btn{
    box-sizing: border-box;
    border: 1px solid white;
    width: 6.5vw;
    height : 4vh;
    margin-top:4vh;
    justify-content: center;
    cursor: pointer;
    padding: 0px 16px;
    gap: 8px;
    color: white;
    background-color: #1f1f1f;
    border-radius: 2rem;
    font-size: small;
    font-weight: bolder;
    transition: background-color .2s ease-out;
}

.language-btn img{
    width: 1.2em;
    height: 1.2em;
}

.right {
    height: 90vh;
    width: 75%;
    /* border: 2px solid green; */
    margin: 10px;
    /* overflow-y: auto; */
}